
streamlit>=1.45.0

numpy>=1.26.0
pandas>=2.2.0

faiss-cpu>=1.8.0

sentence-transformers>=3.0.0
transformers>=4.52.0
torch>=2.7.0

pymongo>=4.8.0
python-dotenv>=1.0.1

pypdf>=5.0.0

beautifulsoup4>=4.12.3
selenium>=4.25.0

ollama>=0.4.0

requests>=2.32.0
urllib3>=2.2.0

